@model IEnumerable<GitHubSearch.Models.Bookmark>

@{
    ViewData["Title"] = "Bookmarks";
}

<h1>Bookmarks</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
           
        </tr>
}
    </tbody>
</table>
